absl-py==1.3.0
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
annoy==1.17.1
async-timeout==4.0.2
attrs==22.2.0
beartype==0.11.0
betterproto==1.2.5
blessed==1.19.1
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.4
colorful==0.5.5
colorlog==4.7.2
contourpy==1.0.6
convertdate==2.4.0
cubinlinker-cu11==0.3.0
cuda-python==11.7.0
cudf-cu11==22.10.0
cupy-cuda115==10.6.0
cycler==0.11.0
Cython==0.29.32
dask==2022.9.2
dask-cudf-cu11==22.10.0
distlib==0.3.6
distributed==2022.9.2
faiss-gpu @ file:///home/gunes/Desktop/Kaggle/otto-multi-objective-recommender-system/venv/lib/python3.9/site-packages/faiss_gpu-1.7.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
fastrlock==0.8.1
fasttext @ file:///home/gunes/Desktop/Kaggle/otto-multi-objective-recommender-system/venv/lib/python3.9/site-packages/fastText
filelock==3.8.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.5.0
gensim==4.2.0
google-api-core==2.11.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.57.0
gpustat==1.0.0
grpcio==1.51.1
grpclib==0.4.3
h2==4.1.0
HeapDict==1.0.1
hijri-converter==2.2.4
holidays==0.18
hpack==4.0.0
huggingface-hub==0.11.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==5.2.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
lightgbm==3.3.3
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
merlin-core==0.9.0
merlin-dataloader==0.0.3
msgpack==1.0.4
multidict==6.0.2
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==11.495.46
nvtabular==1.5.0
nvtx==0.2.5
oauthlib==3.2.2
opencensus==0.11.0
opencensus-context==0.1.3
packaging==21.3
pandas==1.3.5
partd==1.3.0
Pillow==9.3.0
platformdirs==2.6.0
plotly==5.11.0
polars==0.15.1
prometheus-client==0.13.1
protobuf==3.20.3
psutil==5.9.4
ptxcompiler-cu11==0.7.0
py-spy==0.3.14
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.1
pydantic==1.10.2
PyMeeus==0.5.12
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
ray==2.2.0
recbole==1.1.1
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rmm-cu11==22.10.0
rsa==4.9
sacremoses==0.0.53
scikit-learn==1.1.3
scikit-surprise==1.1.3
scipy==1.9.3
seaborn==0.12.1
six==1.16.0
smart-open==6.2.0
sortedcontainers==2.4.0
stringcase==1.2.0
tabulate==0.9.0
tblib==1.7.0
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-metadata==1.11.0
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tokenizers==0.12.1
toolz==0.12.0
torch==1.13.0
torchmetrics==0.3.2
tornado==6.1
tqdm==4.64.1
transformers==4.18.0
transformers4rec==0.1.15
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.17.1
wcwidth==0.2.5
Werkzeug==2.2.2
xgboost==1.7.2
yarl==1.8.2
zict==2.2.0
zipp==3.11.0
